.main-container {
  margin: 20px 0;
  display: flex;
  place-content: center center;
}

.project-cards-section {
  width: 95vw;
  display: grid;
  grid-template-areas: 
  "gow"
  "eed"
  "eeq"
  "sme"
  "eaw";
  gap: 1rem;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.card-title {
  margin-top: 5px;
  text-align: start;
  border-radius: 5px;
  line-height: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

h2 {
  display: inline;
  font-size: 1.3rem;
  font-weight: 900;
}

h3 {
  display: inline;
  font-size: 0.8rem;
  font-weight: 400;
  color: orangered;
}

p {
  font-size: 0.8rem;
  margin-right: 1rem;
}

.card-one {
  grid-area: gow;
}

.card-two {
  grid-area: eeq;
}

.card-three {
  grid-area: sme;
}

.card-four {
  grid-area: eaw;
}

.card-five {
  grid-area: eed;
}

.icon {
  background: #222;
  border-radius: 50%;
  padding: 7px;
  margin-right: .5rem;
  color: orangered;
  font-size: 30px;
}

.mql5-icon {
  width: 47px;
  padding: 3px;
}

.article-link {
  color: inherit;
}


@media (min-width: 700px) {

  .project-cards-section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gow gow"
    "eed eed"
    "sme eaw"
    "eeq eeq";
  }
}

@media (min-width: 1000px) {
  
  .project-cards-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "gow gow sme"
    "eaw eed eed"
    "eeq eeq .";
    width: 70vw;
    min-width: 960px;
  }
}
